FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

In [7]:
import time

# Comprehensions:

Em Python temos existem construções sintáticas que permitem a construção de sequências de maneira mais clara e concisa. São elas:

- list comprehension
- set comprehension
- dict comprehension

## 1) List Comprehension

Uma list comprehension é uma maneira concisa de construir uma lista preenchida. Um uso comum é construir uma nova lista onde cada elemento é o resultado de alguma expressão aplicada a cada membro de outra sequência ou iterável, ou para construir uma subsequência cujos elementos satisfazem uma certa condição.

Ela irá seguir um modelo:  lista = ["expressão" for "elemento" in "sequência" if "condição"]. 

Vejamos o código abaixo:

In [1]:
cubos = []
for elementos in range(10):
    cubos.append(elementos**3)

In [2]:
print(cubos)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [4]:
#Exemplo 1 - novo
quadrados = []
for n in range(10):
    quadrados.append(n**2)
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
#exemplo 2
seq=[]
for m in range(0,10,1):
    seq.append(m+1)
print(seq)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#exemplo 3
seq=[]
for n in [0,1,2,3,4,5,6,7,8,9]:
    seq.append(2 * n)
seq

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Podemos reescrevê-lo de forma mais concisa utilizando a list comprehension:

In [3]:
cubos2 = [elementos**3 for elementos in range(10)]

In [4]:
print(cubos2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [12]:
# exemplo
quadrados = [2 * n for n in range(10)]
quadrados

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

A seguir temos mais um exemplo da conversão para a list comprehension:

In [8]:
t0 = time.time()
lista = []
for x in range(1001):
    if x%5==0 or x%3==0:
        lista.append(x**2)
print(sum(lista))
print(time.time() - t0)

156390386
0.0013773441314697266

In [9]:
t0 = time.time()
lc2 = [x**2 for x in range(1001) if x%5==0 or x%3==0]
sum(lc2)
print(time.time() - t0)

0.0009145736694335938

In [10]:
type(lc2)

list

In [20]:
#newexample

list = []
for x in range(100):
    if x%5==0 or x%3==0:
        list.append(x**3)
print(list)

for m in list:
    print(m)

print(sum(list))

[0, 27, 125, 216, 729, 1000, 1728, 3375, 5832, 8000, 9261, 13824, 15625, 19683, 27000, 35937, 42875, 46656, 59319, 64000, 74088, 91125, 110592, 125000, 132651, 157464, 166375, 185193, 216000, 250047, 274625, 287496, 328509, 343000, 373248, 421875, 474552, 512000, 531441, 592704, 614125, 658503, 729000, 804357, 857375, 884736, 970299]
0
27
125
216
729
1000
1728
3375
5832
8000
9261
13824
15625
19683
27000
35937
42875
46656
59319
64000
74088
91125
110592
125000
132651
157464
166375
185193
216000
250047
274625
287496
328509
343000
373248
421875
474552
512000
531441
592704
614125
658503
729000
804357
857375
884736
970299
11521592

In [23]:
lc2 = [x**3 for x in range(100) if x%5==0 or x%3==0]
print(lc2)
sum(lc2)

[0, 27, 125, 216, 729, 1000, 1728, 3375, 5832, 8000, 9261, 13824, 15625, 19683, 27000, 35937, 42875, 46656, 59319, 64000, 74088, 91125, 110592, 125000, 132651, 157464, 166375, 185193, 216000, 250047, 274625, 287496, 328509, 343000, 373248, 421875, 474552, 512000, 531441, 592704, 614125, 658503, 729000, 804357, 857375, 884736, 970299]

11521592

Outros exemplos:

In [11]:
sequencia = range(11)
sequencia

range(0, 11)

In [12]:
list(sequencia)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
[elemento**2 for elemento in sequencia if elemento%2==0]

[0, 4, 16, 36, 64, 100]

In [14]:
[x+y for x,y in [(9,4),(8,6),(2,9)]]

[13, 14, 11]

In [25]:
t0 = time.time()
print([3+2 for numero in range(4)])
print(time.time() - t0)

[5, 5, 5, 5]
0.0004055500030517578

In [28]:
t0 = time.time()
print(4 * [5])
print(time.time() - t0)

[5, 5, 5, 5]
0.00036072731018066406

In [29]:
minha_lista = [x + y for x,y in [(2,3),(4,5),(1,7)]]
minha_lista

[5, 9, 8]

In [31]:
lista = [1, "4", 9, "a", 0, 4]
quadrado_inteiros = [i**2 for i in lista if type(i) == int]
quadrado_inteiros

[1, 81, 0, 16]

##### Podemos fazer  uma list comprehension com múltiplos loops:

Veja o código a seguir:

In [32]:
pontos = []
for x in [1,2,3]:
    for y in [3,4,5]:
        if x != y:
            pontos.append((x,y))
print(pontos)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

Podemos reescrevê-lo dessa forma:

In [33]:
pontos = [(x,y) for x in [1,2,3] for y in [3,4,5] if x != y] # os loops serão postos, sem separação (somente um espaço), na mesma sequência do código original.
print(pontos)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

#### Aplicando a list comprehension em listas de strings:

##### Importando o pacote string

In [24]:
import string

In [35]:
string.punctuation #nos dá as pontuações.

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
string.digits #nos dá os números.

'0123456789'

In [37]:
string.ascii_letters #nos dá as letras do alfabeto (ordenadas) minúsculas e maiúsculas, nessa ordem.

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [38]:
string.ascii_lowercase #somente as letras minúsculas.

'abcdefghijklmnopqrstuvwxyz'

In [39]:
string.ascii_uppercase #somente as letras maiúsculas.

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [40]:
string.hexdigits #nos d´s os dígitos hexadecimais.

'0123456789abcdefABCDEF'

Agora que já conhecemos brevemente o pacote string, vamos aplicar a list comprehension:

In [27]:
my_string = 'Uma string. Escrevi! Vocês duvidam? Claro, tem que ver para crer'

In [28]:
my_string.split() #O .split() "quebrará" a string nos seus espaços criando uma lista, e cada "parte" corresponderá a um elemento.

['Uma',
 'string.',
 'Escrevi!',
 'Vocês',
 'duvidam?',
 'Claro,',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [29]:
#exemplo

texto="O Brasil precisa de paz e de DEUS!!!"
texto.split()

text= 'O abacate é VERDE!!! Chamem algum pintor para colorir essa fruta com outra cor mais vibrante, tá ok?'
text.split()

['O',
 'abacate',
 'é',
 'VERDE!!!',
 'Chamem',
 'algum',
 'pintor',
 'para',
 'colorir',
 'essa',
 'fruta',
 'com',
 'outra',
 'cor',
 'mais',
 'vibrante,',
 'tá',
 'ok?']

Usando a list comprehension

In [43]:
[token for token in my_string.split()]

['Uma',
 'string.',
 'Escrevi!',
 'Vocês',
 'duvidam?',
 'Claro,',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [44]:
[token.lower() for token in my_string.split()] #.lower() passará todas as letras maiúsculas para minúsculas.

['uma',
 'string.',
 'escrevi!',
 'vocês',
 'duvidam?',
 'claro,',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [45]:
[token.strip(string.punctuation) for token in my_string.split()] #.strip(x) retirará da lista, no caso a lista token, os elementos de x, que aqui são as pontuações.

['Uma',
 'string',
 'Escrevi',
 'Vocês',
 'duvidam',
 'Claro',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [49]:
'.pala.vra.'.rstrip('.')

'.pala.vra'

In [51]:
[token.lower().strip(string.punctuation) for token in my_string.split()]

['uma',
 'string',
 'escrevi',
 'vocês',
 'duvidam',
 'claro',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [37]:
#Tudo é exemplo
[n for n in texto.split()]

['O', 'Brasil', 'precisa', 'de', 'paz', 'e', 'de', 'DEUS!!!']

In [31]:
[m.upper() for m in texto.split()]

['O', 'BRASIL', 'PRECISA', 'DE', 'PAZ', 'E', 'DE', 'DEUS!!!']

In [33]:
[m.rstrip("!!!") for m in texto.split()]

['O', 'Brasil', 'precisa', 'de', 'paz', 'e', 'de', 'DEUS']

In [36]:
[s.strip(string.punctuation) for s in texto.split()]

['O', 'Brasil', 'precisa', 'de', 'paz', 'e', 'de', 'DEUS']

In [39]:
[t.upper().strip(string.punctuation) for t in texto.split()]

['O', 'BRASIL', 'PRECISA', 'DE', 'PAZ', 'E', 'DE', 'DEUS']

## 2) Set Comprehension:

As set comprehensions permitem que conjuntos sejam construídos usando os mesmos princípios que as compreensões de lista, a única diferença é que a seqüência resultante é um conjunto.

Seguiremos o modelo, apenas trocando os colchetes (da list comprehension) por chaves: conjunto = {"expressão" for "elemento" in "sequência" if "condição"}.

Vejamos o exemplo abaixo:

In [42]:
quadrados = {i**2 for i in range(5)}
print(quadrados)

{0, 1, 4, 9, 16}

In [45]:
#exemplo
cubos={i**3 for i in range(100)}
print(cubos)

{0, 1, 512, 4096, 13824, 32768, 64000, 262144, 8, 373248, 804357, 357911, 27, 195112, 132651, 9261, 97336, 970299, 314432, 64, 46656, 205379, 658503, 125000, 54872, 29791, 35937, 830584, 125, 512000, 941192, 79507, 2197, 636056, 226981, 17576, 2744, 250047, 1728, 85184, 274625, 438976, 5832, 6859, 216, 729, 300763, 19683, 405224, 614125, 238328, 287496, 15625, 157464, 857375, 912673, 3375, 4913, 681472, 1331, 68921, 328509, 592704, 8000, 140608, 24389, 456533, 343, 884736, 74088, 185193, 175616, 27000, 42875, 110592, 12167, 39304, 571787, 148877, 103823, 117649, 10648, 389017, 753571, 729000, 59319, 474552, 216000, 21952, 778688, 551368, 704969, 343000, 50653, 166375, 1000, 493039, 531441, 421875, 91125}

In [53]:
consoantes = {letra for letra in 'cursodeverao' if letra not in "aeiou" }
print(consoantes)

{'v', 'c', 'r', 'd', 's'}

In [54]:
vogais = {letra for letra in "pythonlovers" if letra in "aeiou"}
print(vogais)

{'o', 'e'}

In [47]:
#exemplo
lcs={n for n in "Brasil acima de tudo, Deus acima de todos!!!" if n not in "ao"}
print(lcs)

{',', 'i', 'D', '!', 'e', 'l', 'm', 'c', 'r', 't', 's', 'u', 'B', 'd', ' '}

## 3) Dict Comprehension

Podemos escrever dicionários de sucinta usando dict comprehension. Devemos tomar cuidado pois o dicionário distingue letras maiúsculas de minúsculas.

Usamos o modelo: dicionario = {'elemento' : 'operação' for 'elemento' in 'sequência' if 'condição'}

Vejamos os seguintes exemplos:

In [55]:
quadrado = {x:x**2 for x in range(4)}
print(quadrado)

{0: 0, 1: 1, 2: 4, 3: 9}

In [48]:
#exemplo

cubo = {y: y**3 for y in range(100)}
print(cubo)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375, 16: 4096, 17: 4913, 18: 5832, 19: 6859, 20: 8000, 21: 9261, 22: 10648, 23: 12167, 24: 13824, 25: 15625, 26: 17576, 27: 19683, 28: 21952, 29: 24389, 30: 27000, 31: 29791, 32: 32768, 33: 35937, 34: 39304, 35: 42875, 36: 46656, 37: 50653, 38: 54872, 39: 59319, 40: 64000, 41: 68921, 42: 74088, 43: 79507, 44: 85184, 45: 91125, 46: 97336, 47: 103823, 48: 110592, 49: 117649, 50: 125000, 51: 132651, 52: 140608, 53: 148877, 54: 157464, 55: 166375, 56: 175616, 57: 185193, 58: 195112, 59: 205379, 60: 216000, 61: 226981, 62: 238328, 63: 250047, 64: 262144, 65: 274625, 66: 287496, 67: 300763, 68: 314432, 69: 328509, 70: 343000, 71: 357911, 72: 373248, 73: 389017, 74: 405224, 75: 421875, 76: 438976, 77: 456533, 78: 474552, 79: 493039, 80: 512000, 81: 531441, 82: 551368, 83: 571787, 84: 592704, 85: 614125, 86: 636056, 87: 658503, 88: 681472, 89: 704969, 90: 729000, 91: 753571, 92: 778688, 93: 804357, 94: 830584, 95: 857375, 96: 884736, 97: 912673, 98: 941192, 99: 970299}

In [56]:
d0 = {x:y for x,y in [('primeiro',1),('segundo',2)]}
d0

{'primeiro': 1, 'segundo': 2}

In [50]:
#exemplo

s={x:y for x,y in [('primeiro', 7), ('segundo', 9)]}
s

{'primeiro': 7, 'segundo': 9}

In [59]:
t0 = time.time()
d1 = {x.upper():y for x,y in [('um',1),('dois',2),('tres',3)]}
print(d1)
print(time.time() - t0)

{'UM': 1, 'TRES': 3, 'DOIS': 2}
0.0004951953887939453

In [60]:
t0 = time.time()
d2 = dict([('um',1),('dois',2),('tres',3)])
print(d2)
print(time.time() - t0)

{'um': 1, 'dois': 2, 'tres': 3}
0.0008649826049804688

In [66]:
{x:y for x,y in zip(range(0,7,2), range(1,8,2))}

{0: 1, 2: 3, 4: 5, 6: 7}

In [67]:
d3 = {chave.upper():valor for chave, valor in d2.items()}
d3

{'DOIS': 2, 'TRES': 3, 'UM': 1}

In [71]:
dicionario = {'um':1, 'dois':2}
print(dicionario.items())
{valor:chave for chave,valor in dicionario.items()}

dict_items([('um', 1), ('dois', 2)])

{1: 'um', 2: 'dois'}

In [72]:
d3.items()

dict_items([('UM', 1), ('TRES', 3), ('DOIS', 2)])

In [73]:
d4 = {chave:valor+1 for chave,valor in d3.items()}
d4

{'DOIS': 3, 'TRES': 4, 'UM': 2}

In [74]:
for alguma_coisa in d4.items():
    print(alguma_coisa)

('UM', 2)
('TRES', 4)
('DOIS', 3)

In [75]:
{chave:valor for chave,valor in [(2,3),(4,5),(1,7)]}

{1: 7, 2: 3, 4: 5}

In [76]:
disciplinas = ['Cálculo', 'IntroComp', 'ModelagemII']
notas = [8,8.5,9]

In [77]:
{disciplina:nota for disciplina,nota in zip(disciplinas, notas)}

{'Cálculo': 8, 'IntroComp': 8.5, 'ModelagemII': 9}